{% extends "game/base.html" %}
{% block contents %}

<h1>Join Game</h1>

<p>Players: {{ game.player_set.all|join:", " }}</p>
<p>City variants: {{ game.allowed_variants.all|join:", " }}</p>

{% if game.is_joinable %}
    {% if not player_in_game %}
        <form action="" method="POST">
            <table>
                {{ form }}
            </table>
            {% csrf_token %}
            <input type="submit">
        </form>

    {% else %}
        <p class="error">You have already joined to this game</p>
    {% endif %}
{% else %}
    <p class="error">Game can't be joined</p>
{% endif %}
<a href="{% url games %}">Cancel</a>
{% endblock %}
