<h1>Games</h1>

{% if user.is_authenticated %}
    <a href="{% url new-game %}">Create new</a>
{% else %}
    <a href="{% url login %}">Login</a>
{% endif %}

{% if my_games %}
<h2>My games</h2>

<p>Games that you have created and/or are playing</p>

    <table border="1">
        <tr>
            <th>Players</th>
            <th>Status</th>
            <th>Join</th>
        </tr>
    {% for g in my_games %}
        <tr>
            <td>{{ g.player_set.all|join:", "|default:"No players" }}</td>
            <td>{% if not g.started %}Waiting for players{% else %}{{ g.allowed_variants.all|join:", " }}{% endif %}</td>
            <td>{% if not g.started %}Start{% else %}Play{% endif %}</td>
        </tr>
    {% endfor %}
    <table>

{% endif %}

{% if open_games %}
    <h2>Open games</h2>

    <p>Games that you can join</p>

    <table border="1">
        <tr>
            <th>Players</th>
            <th>Variants</th>
            <th>Join</th>
        </tr>
    {% for g in open_games %}
        {% if g.is_joinable %}
        <tr>
            <td>{{ g.player_set.all|join:", "|default:"No players" }}</td>
            <td>{{ g.allowed_variants.all|join:", " }}</td>
            <td>{% if user.is_authenticated %}<a href="{{ g.get_absolute_url }}">Join</a>{% else %}<a href="{% url login %}">Login</a> to join{% endif %}</td>
        </tr>
        {% endif %}
    {% endfor %}
    <table>
{% endif %}

{% if started_games %}
<h2>Games in progress</h2>

<p>Games in progress</p>
{% endif %}

{% if not my_games and not open_games and not started_games %}
<p>No games</p>
{% endif %}
