{% extends "game/base.html" %}

{% block extrahead %}
    <script>
        /* Maps the divs with build options to sync status with radiobutton */
        function setup_option(div, id) {
            $(div).click(function () {
                $("input:radio[name=option][value="+id+"]").attr('checked', true);
                $("div.option").removeClass("current");
                $(this).addClass("current");
            });
        }

        /* Toggles the indicator to know which players have already played */
        function update_players() {
            $.getJSON('{% url game-ajax-waiting-players pk=game.pk %}',
                function (data) {
                    /* Data is a list of player ids */
                    for (i=0; i < data.length; i++) {
                        $("#already-played-"+data[i]).removeClass("hidden");
                    }
                }
            );
        }

        /* Startup code*/ 
        $(function() {
            var $tabs = $("#players").tabs(); /* Enable tabs*/
            $tabs.tabs('select', 1); /* Select player tab */
            
            /* Attach navigation links to tabs */
            var leftlinks = $(".neighbors a");
            for (i=0; i < leftlinks.length; i++) {
                $(leftlinks[i]).click(function () {
                    $tabs.tabs('select', this.hash);
                    return false;
                });
            }
            
            /* Fancy option selector */
            var optiondivs = $("div.option");
            for (i=0; i < optiondivs.length; i++) {
                div_id = optiondivs[i].id.split('-')[1];
                setup_option(optiondivs[i], div_id);
            }
            current = $('input:radio[name=option]:checked').val();
            $("div.option#selector-"+current).addClass("current");
            
            /* Automatic update based on who played */
            update_players();
            window.setInterval(update_players, 4000);
        });
    </script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/play.css"/>
{% endblock %}
{% block contents %}

<h1>Play Game</h1>

<p>Age: {{ game.age }} Turn: {{ game.turn }}</p>

<div id="players">
    <ul id="players-tabs">
        <li><a href="#player-info-{{player_in_game.left_player.pk}}">{{ player_in_game.left_player }}
            <img id="already-played-{{player_in_game.left_player.pk}}" class="hidden" src="{{ STATIC_URL }}admin/img/admin/icon-yes.gif" /></a>
        </li>
        <li class="current-player"><a href="#player-info-{{player_in_game.pk}}">{{ player_in_game }}</a></li>
        {% for p in player_in_game.all_right_players %}
            <li><a href="#player-info-{{p.pk}}">{{ p }}
                <img id="already-played-{{p.pk}}" class="hidden" src="{{ STATIC_URL }}admin/img/admin/icon-yes.gif" /></a>
            </li>
        {% endfor %}
    </ul>

    {% include "game/player_info.html" with player=player_in_game.left_player %}
    {% include "game/player_info.html" with player=player_in_game %}

    {% for p in player_in_game.all_right_players %}
        {% include "game/player_info.html" with player=p %}
    {% endfor %}
</div>


{% if player_in_game.can_play %}
    <h3>Next action</h3>

    {% if form.option.errors %}
        <div class="ui-state-error"><span class="ui-icon ui-icon-alert"></span>{{ form.option.errors|join:"<br/>" }}</div>
    {% endif %}
    {% for o in player_in_game.current_options.all %}
        <div class="option kind-{{o.building.kind.name}} ui-corner-all" id="selector-{{ o.id }}">
            <p><span class="building-name">{{ o.building }}</span>: {{o.building.effect }}</p>
            {% with o.building.free_having.all as free_dependencies %}
                <p>({{ o.building.cost }}{% if free_dependencies %} or {{ free_dependencies|join:" or " }}{% endif %})</p>
            {% endwith %}
        </div>
    {% endfor %}

    <form action="" method="POST">
        <table>
            <tr class="hidden"><th>{{ form.option.label }}</th>
                <td>{{ form.option }}</td>
                <td><ul>{% for o in player_in_game.current_options.all %}<li>{{ o.building.cost }}</li>{% endfor %}</ul></td>
                <td><ul>{% for o in player_in_game.current_options.all %}<li>{{ o.building.effect }}</li>{% endfor %}</ul></td>
            </tr>
            <tr><th>{{ form.action.label }}</th>
                <td>{{ form.action }}</td>
            </tr>
            {% if form.action.errors %}
            <tr><td colspan="3">{{ form.action.errors }}</td></tr>
            {% endif %}
            <tr><th>{{ form.payment.label }}</th>
                <td>{{ form.payment }}</td>
            </tr>
            {% if form.payment.errors %}
            <tr><td colspan="3">{{ form.payment.errors }}</td></tr>
            {% endif %}
            {% if form.errors %}
            <tr><td colspan="3">{{ form.non_field_errors }}</td></tr>
            {% endif %}
        </table>
        {% csrf_token %}
        <input type="submit">
    </form>

{% else %}
    <p class="error">You can't play now</p>
{% endif %}

<a href="{% url games %}">Cancel</a>

{% endblock %}

