<div id="player-info-{{ player.pk }}">

<div class="player-header">
    <p class="money">${{ player.money }}</p>
    <h3>{{ player.city }} ({{ player.variant }})</p>
</div>

<div class="neighbors">
    <div class="left">
        <p><a href="#player-info-{{ player.left_player.pk }}">« {{ player.left_player.city  }} ({{ player.left_player }})</a></p>
        <ul>
        {% for r in player.battleresult_set.all %}{% if r.direction == 'l' %}
            <li>{{ r.age }}: {{ r.score|stringformat:"+d" }}</li>
        {% endif%}{% endfor %}
        </ul>
    </div>
    <div class="right">
        <p><a href="#player-info-{{ player.right_player.pk }}">{{ player.right_player.city }} ({{ player.right_player }}) »</a></p>
        <ul>
        {% for r in player.battleresult_set.all %}{% if r.direction == 'r' %}
            <li>{{ r.age }}: {{ r.score|stringformat:"+d" }}</li>
        {% endif%}{% endfor %}
        </ul>
    </div>
</div>

<div class="building-list">
    {% regroup player.building_list by kind as kinds %}

    {% for k in kinds %}
        <ul class="kind-{{ k.grouper }} building-set ui-corner-all">
        {% for b in k.list %}
           <li><strong>{{ b.label }}:</strong> {{ b.effect }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
</div>

<div class="specials">
    <ol>
    {% for s in player.all_specials %}
        <li class="ui-corner-all
        {% if s.order < player.specials %}built{% endif %}{% if s.order == player.specials %}next{% endif %}{% if s.order > player.specials %}unbuilt{% endif %}">{{ s.effect }}<span class="cost"> ({{s.cost}})</span></li>
    {% endfor %}
    </ol>
</div>

</div>
