<div id="player-info-{{ player.pk }}">

<div class="player-header">
    <p class="money">${{ player.money }}</p>
    <h3>{{ player.city }} ({{ player.variant }})</p>
</div>

{% regroup player.building_list by kind as kinds %}

{% for k in kinds %}
    <ul class="kind-{{ k.grouper }} building-set ui-corner-all">
    {% for b in k.list %}
       <li><strong>{{ b.label }}:</strong> {{ b.effect }}</li>
    {% endfor %}
    </ul>
{% endfor %}

<h3 style="clear:both;">Specials:</h3>

<p>Built: {{ player.specials }}
{% if player.next_special %}
<p>Cost of next: {{ player.next_special.cost }}</p>
{% endif %}

<ol>
{% for s in player.all_specials %}
<li>{{ s.effect }} ({{s.cost}})</li>
{% endfor %}
</ol>

{% if player.battleresult_set.all %}
<h3>Combat</h3>

<ul>
{% for r in player.battleresult_set.all %}
    <li>{{ r.age }}: {{ r.score|stringformat:"+d" }} ({{ r.get_direction_display }})</li>
{% endfor %}
</ul>
{% endif %}
</div>
