<h1>Play Game</h1>

<p>Players: {{ game.player_set.all|join:", " }}</p>

{% include "game/player_info.html" with player=player_in_game %}
{% include "game/player_info.html" with player=player_in_game.left_player %}

{% if player_in_game.can_play %}
    <h3>Next action</h3>

    <form action="" method="POST">
        <table>
            <tr><th>{{ form.option.label }}</th>
                <td>{{ form.option }}</td>
                <td><ul>{% for o in player_in_game.current_options.all %}<li>{{ o.building.cost }}</li>{% endfor %}</ul></td>
                <td><ul>{% for o in player_in_game.current_options.all %}<li>{{ o.building.effect }}</li>{% endfor %}</ul></td>
            </tr>
            {% if form.option.errors %}
            <tr><td colspan="3">{{ form.option.errors }}</td></tr>
            {% endif %}
            <tr><th>{{ form.action.label }}</th>
                <td>{{ form.action }}</td>
            </tr>
            {% if form.action.errors %}
            <tr><td colspan="3">{{ form.action.errors }}</td></tr>
            {% endif %}
            <tr><th>{{ form.payment.label }}</th>
                <td>{{ form.payment }}</td>
            </tr>
            {% if form.payment.errors %}
            <tr><td colspan="3">{{ form.payment.errors }}</td></tr>
            {% endif %}
            {% if form.errors %}
            <tr><td colspan="3">{{ form.non_field_errors }}</td></tr>
            {% endif %}
        </table>
        {% csrf_token %}
        <input type="submit">
    </form>

{% else %}
    <p class="error">You can't play now</p>
{% endif %}
<a href="{% url games %}">Cancel</a>

{% for p in player_in_game.all_right_players %}
    {% include "game/player_info.html" with player=p %}
{% endfor %}

