{% extends "game/base.html" %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/score.css"/>
{% endblock %}
{% block contents %}

<h1>Finished Game: Scoreboard</h1>


<table>
    <tr>
        <th></th>
        {% for p in game.player_set.all %}
            <th>{{ p }}</th>
        {% endfor %}
    </tr>
    <tr class="kind-mil">
        <th>Military</th>
        {% for p in game.player_set.all %}
            <td>{{ p.score.military }}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>Treasury</th>
        {% for p in game.player_set.all %}
            <td>{{ p.score.treasury }}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>Specials</th>
        {% for p in game.player_set.all %}
            <td>{{ p.score.special }}</td>
        {% endfor %}
    </tr>
    <tr class="kind-civ">
        <th>Civilian</th>
        {% for p in game.player_set.all %}
            <td>{{ p.score.civilian }}</td>
        {% endfor %}
    </tr>
    <tr class="kind-sci">
        <th>Science</th>
        {% for p in game.player_set.all %}
            <td>{{ p.score.science }}</td>
        {% endfor %}
    </tr>
    <tr class="kind-eco">
        <th>Economy</th>
        {% for p in game.player_set.all %}
            <td>{{ p.score.economy }}</td>
        {% endfor %}
    </tr>
    <tr class="kind-per">
        <th>Personality</th>
        {% for p in game.player_set.all %}
            <td>{{ p.score.personality}}</td>
        {% endfor %}
    </tr>
    <tr>
        <th>Total</th>
        {% for p in game.player_set.all %}
            <td>{{ p.score.total }}</td>
        {% endfor %}
    </tr>
</table>

<a href="{% url games %}">Back to listing</a>

{% endblock %}

