{% extends "game/base.html" %}

{% block extrahead %}
    <script>
        /* Toggles the indicator to know which players have already played */
        function update_players() {
            $.getJSON('{% url game-ajax-waiting-players pk=game.pk %}',
                function (data) {
                    /* Data is a list of player ids */
                    for (i=0; i < data.length; i++) {
                        $("#player-"+data[i]).addClass("hidden");
                    }
                }
            );
        }

        /* Startup code*/ 
        $(function() {
            /* Automatic update based on who played */
            update_players();
            window.setInterval(update_players, 4000);
        });
    </script>
    <style type="text/css">
        .hidden {
            display: none;
        }
    </style>
{% endblock %}

{% block contents %}

<h1>Play Game: Wait for next turn</h1>

<p>The following players haven't finished their turns yet:</p>

<ul id="missing-players">
    {% for p in game.missing_players %}
    <li id="player-{{p.pk}}">{{p}}</li>
    {% endfor %}
</ul>

<a href="{{ game.get_absolute_url }}">Try again</a>
{% endblock %}
