body {
    font-family: sans;
    font-size: 10pt;
}

.player-header {
    margin-left: -1.6em;
    margin-right: -1.6em;
}
.player-header h3 {
    background-color: #5b97ff;
    padding: 8px 0;
}
.player-header .money {
    float: right;
    margin: 0;
    padding: 8px 4px; 
}

#players .ui-tabs-panel {
    padding-top: 0;
}

.neighbors p {
    margin: 0;
}

.neighbors {
    margin: -12px -1.4em;
    font-size: 80%
}

.neighbors a {
    color: #5b97ff;
}

.neighbors ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.neighbors .left {
    float: left;
    margin: 0;
}

.neighbors .right {
    float: right;
    margin: 0;
}

.building-list {
    clear: both;
}

ul.building-set {
    float:left;
    min-height:100px;
    margin-right: 10px;
    list-style: none;
    padding: 5px;
}

.specials {
    clear: both;
    border-top: 1px solid #AAAAAA;
    margin: 0 -1.6em;
}

.specials li {
    display: inline-block;
    list-style: none;
    border: 1px solid black;
    padding: 3px;
    height: 50px;
    width: 200px;
}
.specials .built {
    background: black;
    color: white;
}

.specials .unbuilt {
    color: #aaa;
}

.specials .cost {
    display: block;
}
.specials .built .cost { 
    visibility: hidden; /* No need to display costs for built specials */
}
/* Building kinds */
.kind-bas {
    background-color: #5d4500;
    color: white;
}
.kind-cpx {
    background-color: #5d5d5d;
    color: white;
}
.kind-eco {
    background-color: #e8fa2d;
}
.kind-civ {
    background-color: #2d48f7;
    color: white;
}
.kind-mil {
    background-color: #f72d35;
}
.kind-sci {
    background-color: #295d00;
    color: white;
}
.kind-per {
    background-color: #39005d;
    color: white;
    clear:left;
    min-height: 0 !important;
}

